@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root{
    --veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
    --softRed: hsl(14, 88%, 65%);
    --softViolet: hsl(273, 75%, 66%);
    --softBlue: hsl(240, 73%, 65%);
    --veryDarkGrayishBlue: hsl(237, 12%, 33%);
    --darkGrayishBlue: hsl(240, 6%, 50%);
    --lightGrayishBlue: hsl(240, 5%, 91%);
    --fontSize: 12px; 
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


html {
    font-size: var(--fontSize);
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: grid;
    justify-content: center;
    align-content: center;
}

.envoltura {
    background: white;
    border-radius: 30px;
    height: 509px;
    width: 920px;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 6rem;
    background-image: url(/images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: 1260% 65%;
}

.pregun-respues__acordeon > .respuesta {
    display: none;
} 

.active > .respuesta {
    display: block;
    padding-bottom: 1.3rem;
    color: var(--veryDarkGrayishBlue);
}

.active img {
    transform: rotate(180deg);
    transition: all 0.3s ease-in;
}

.contenedor_acordeon {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
}

.pregunta_acordeon {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pregun-respues__acordeon {
    width: 350px;
    border-bottom: 1px solid #e8e8ea;
}

.acordeon_titulo {
    font-size: 3rem;
    margin-top: 0px;
}

.titulo_pregunta {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1.4rem 0rem;
    color: var(--veryDarkGrayishBlue);

}

.pregunta {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.4s;
}

.active h3 {
    font-weight: 700;
}

.pregunta img {
    align-self: center;
}

.envoltura_imagen {
    position: relative;
}

.envoltura_imagen_interior {
    background: url(/images/illustration-woman-online-desktop.svg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: 120% center;
}

.caja {
    position: absolute;
    top: 42%;
    left: -25%;
}

@media (max-widtg: 700px) {
    .envoltura{
        width: 350px;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr;
        grid-gap: 0.5rem;
        position: relative;
        padding: 1rem;
        height: 530px;
    }

    .envoltura_imagen {
        background: url("/images/bg-pattern-mobile.svg");
        background-repeat: no-repeat;
        background-position: center 590%;
    }

    .envoltura_imagen_interior {
        position: absolute;
        width: 100%;
        height: 200px;
        background-size: 72%;
        background-position: center;
        top: -128%;
    }

    .caja {
        width: 55px;
        left: 19%;
        top: -30%;
    }

    .contenedor_acordeon {
        margin-top: 0px;
    }

    .pregun-respues__acordeon {
        width: 100%;
    }

    .acordeon_titulo {
        text-align: center;
    }
}